.html5 {
    width: 50%;
    -moz-animation: html5 2s ease;
    -webkit-animation: html5 2s ease;
}

.node {
    width: 50%;
    -moz-animation: node 2s ease;
    -webkit-animation: node 2s ease;
}
.csharp {
    width: 90%;
    -moz-animation: Csharp 2s ease;
    -webkit-animation: Csharp 2s ease;
}
.html5 {
    width: 50%;
    -moz-animation: html5 2s ease;
    -webkit-animation: html5 2s ease;
}
.html5 {
    width: 50%;
    -moz-animation: html5 2s ease;
    -webkit-animation: html5 2s ease;
}
.html5 {
    width: 50%;
    -moz-animation: html5 2s ease;
    -webkit-animation: html5 2s ease;
}
.html5 {
    width: 50%;
    -moz-animation: html5 2s ease;
    -webkit-animation: html5 2s ease;
}
.html5 {
    width: 50%;
    -moz-animation: html5 2s ease;
    -webkit-animation: html5 2s ease;
}
.html5 {
    width: 50%;
    -moz-animation: html5 2s ease;
    -webkit-animation: html5 2s ease;
}